<header>
  <div class="container">

    <h1 class="logo">Generico<span>Logo</span></h1>

    <nav class="site-nav">

      <button class="menu-toggle" #menuToggle aria-controls="primary-navigation" aria-expanded="false"
        (click)="onClickOnMenu()">
        <span class="visually-hidden">Menu</span>
        <div class="hamburger" aria-hidden="true"></div>
      </button>

      <ul data-state="closed" class="primary-navigation" id="primary-navigation" #primaryNavigation>
        <li><a href=""><i class="fa fa-home site-nav--icon"></i>Home</a></li>
        <li><a href=""><i class="fa fa-info site-nav--icon"></i>About</a></li>
        <li><a href=""><i class="fa fa-pencil site-nav--icon"></i>Blog</a></li>
        <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Pricing</a></li>
        <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
      </ul>

    </nav>

  </div>

</header>
